form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input, select, textarea {
    background: none;
    border: none;
    outline: none;
    padding: 5px;

    border-bottom: 1px solid black;
}

.btn, input[type='submit'] {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type='submit'] {
    margin-top: 15px;
} 